<template>

  <div>
    <h1>Hello, {{value}}</h1>


    <span class="fa fa-male"></span>
    <span class="fa fa-android"></span>
    <span class="fa fa-tree"></span>
    <span class="fa fa-bug"></span>
    <span class="fa fa-home"></span>
    <span class="fa fa-university"></span>
    <span class="fa fa-briefcase"></span>
    <span class="fa fa-binoculars"></span>
    <span class="fa fa-bomb"></span>
    <span class="fa fa-rocket"></span>
  </div>
</template>

<script>
  export default{
    data() {
      return {
        compiledField: null,
      }
    },
    computed: {
      gamefield: {

      }
    },
    props: ['value']
  }
</script>